* {
  box-sizing: border-box;
}

header {
  background-color: #212121;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 18px;
  color: white;
  
}



/* main { */
    /* overflow-x: auto;   */
/* } */





