* {
  box-sizing: border-box;
}

header {
  background-color: #212121;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 900px) {
  main {
    overflow-x: scroll;
  }
}
